{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %} <br> <br>
<div class="container">
    <h1>Nouveau Patient</h1>

    {{ include('patient/_form.html.twig') }}
</div>

{% endblock %}
