{% extends 'base.html.twig' %}

{% block title %}New Medecin
{% endblock %}

{% block body %}
	<br>
	<div class="container">
		<h1>Create new Medecin</h1>

		{{ include('medecin/_form.html.twig') }}

		
	</div>
{% endblock %}
