<form method="post" action="{{ path('app_dosage_delete', {'id': dosage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dosage.id) }}">
    <button class="btn">Delete</button>
</form>
