{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Modifier l'utilisateur</h1>
		{{ form_start(form) }}
		{{ form_row(form.roles) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
