{% extends 'base.html.twig' %}

{% block title %}New CommandeMedicament{% endblock %}

{% block body %}
    <h1>Create new CommandeMedicament</h1>

    {{ include('commande_medicament/_form.html.twig') }}

    <a href="{{ path('app_commande_medicament_index') }}">back to list</a>
{% endblock %}
